html {
	position: relative;
	height: 100%;
}

body {
	padding-top: 70px;
	height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 50%;
	/* Set the fixed height of the footer here */
	height: 60px;
}

.dataTableImg {
	width: 100px;
	height: 100px;
}